ui            = true
cluster_name  = "vault.engiqueer.net"
cluster_addr  = "https://127.0.0.1:8201"
api_addr      = "https://127.0.0.1:8200"
disable_mlock = false

storage "raft" {
  path = "/var/lib/vault/data"
}

listener "tcp" {
  address         = "[::]:8200"
  cluster_address = "[::]:8201"
  tls_disable     = "false"
  tls_cert_file   = "/var/lib/vault/certificates/vault.engiqueer.net.crt"
  tls_key_file    = "/var/lib/vault/certificates/vault.engiqueer.net.key"
  tls_min_version = "tls13"
}
